# install locally with `pip install -vv -U -r requirements.txt --extra-index-url https://us-central1-python.pkg.dev/wade-prefect/private-packages/simple/'
seatgeek-client
prefect
prefect-gcp[bigquery]
